---
import Layout from "@/layouts/LayoutsPortfolio.astro";
import BlogIndex from "@/components/blog/BlogIndex.astro";
---

<Layout
  title="ホームページ制作のTKG"
  description=""
  breadcrumbs={[
    { text: "Blog", src: "/blog" },
  ]}
>
  <main class="bg-gradient pt-32 font-zenMaru">
    <BlogIndex />
  </main>
</Layout>
