---
import Layout from "@/layouts/Layout.astro";
import BlogIndex from "@/components/portfolio/blog/BlogIndex.astro";
---

<Layout
  title="ホームページ制作のTKG"
  description=""
  breadcrumbs={[
    { text: "テス", src: "テス" },
    { text: "テス", src: "テス" },
  ]}
>
  <main class="bg-gradient pt-32 font-zenMaru">
    <BlogIndex />
  </main>
</Layout>
