---

---

<div class="w-fit mx-auto flex flex-col items-center">
  <a href="/portfolio/contact">
    <div class="bg-accent text-white inline-block rounded-full px-8 py-2">
      <span class="text-sm block">どんなことでもお気軽に</span>
      <span class="text-2xl">無料相談はこちら</strong>
    </div>
  </a>
  <p><small class="text-xxs">※現在、受付を停止しています。</small></p>
</div>
