<div class="flex flex-col items-center gap-2 my-20">
    <span class="h-3 bg-primary w-3 block rounded-full"></span>
    <span class="h-2 bg-primary w-2 block rounded-full"></span>
    <span class="h-1 bg-primary w-1 block rounded-full"></span>
  </div>