<div class="flex flex-col items-center gap-2 my-20">
    <span class="h-3 bg-orange-800 w-3 block rounded-full"></span>
    <span class="h-2 bg-orange-800 w-2 block rounded-full"></span>
    <span class="h-1 bg-orange-800 w-1 block rounded-full"></span>
  </div>