---

---

<div class="flex gap-1 my-[6px]">
    <span class="w-10 bg-primary h-1 block rounded-full"></span>
    <span class="w-2 bg-primary h-1 block rounded-full"></span>
    <span class="w-1 bg-primary h-1 block rounded-full"></span>
  </div>