---
import HeadingLine from "@/components/portfolio/profile/HeadingLine.astro";
---

<section
  class="lg:mx-auto lg:w-fit max-w-[808px] relative border-4 border-orange-800 rounded-2xl bg-yellow-10 pt-6 px-6 pb-10 lg:p-10 md:mr-32"
>
  <div>
    <h2 class="text-xl/[1.6] font-medium">協調を大事に</h2>
    <div class="my-[6px]">
      <HeadingLine />
    </div>
    <p class="text-sm/[2]">
      日頃から周りに気を配りながら業務に取り組んでいます。<br />
      リモートという相手の気持ちを汲み取りにくい環境で仕事をしており、コミュニケーションの難しさを感じることも多いですが、
      積極的に声をかけたり、話を聞くことでお互いに相談しやすい環境づくりを心がけています。
    </p>
  </div>
  <div class="mt-8">
    <h2 class="text-xl/[1.6] font-medium">柔軟性と好奇心</h2>
    <div class="my-[6px]">
      <HeadingLine />
    </div>
    <p class="text-sm/[2]">
      銀行での転勤やフロントエンドエンジニアへの異業種転職など、変化には柔軟です。<br
      />
      また、気になったことはすぐに調べる癖があり積極的に学び続けることで、<br
        class="hidden lg:block"
      />新しい知識やスキルを身につけています。
    </p>
  </div>
  <img
    class="absolute z-[-1] right-0 bottom-0 translate-x-36 hidden md:block"
    src="/image/portfolio/common/botton-kokke.svg"
    alt=""
  />
  <img
    class="absolute z-[1] right-0 top-0 -translate-y-[7.3rem] w-32 md:hidden"
    src="/image/portfolio/common/message-kokke.svg"
    alt=""
  />
</section>
