---
import DeveItem from "@/components/portfolio/skill/DeveItem.astro";

const deveItems = [
  {
    title: "HTML/CSS",
    src: "/image/portfolio/devicon/icon-code.svg",
    text: "学習2020年9月頃〜開始。<br/>保守しやすいコードを意識してコーディングをしています。axe DevToolsなどでチェックも欠かさず行い、アクセシビリティにも注意を払い、実装しています。<br/>最近は、CSSフレームワーク「Tailwind CSS」を愛用。Scssでの実装も可能です。"
  },
  {
    title: "WordPress",
    src: "/image/portfolio/devicon/icon-wordpress.png",
    text: "学習2020年12月頃〜開始。<br/>テーマ制作はクラシックテーマの開発がメイン。<br/>現職では、WordPressサイト約13サイトの保守を担当、<br/>テーマの改善提案や実装などをしています。"
  },
  {
    title: "JavaScript",
    src: "/image/portfolio/devicon/icon-javascript.png",
    text: "学習2020年12月〜開始。当初苦手意識がありましたが、最近は少しずつ面白さを感じています。プロジェクトによって使用方法は様々ですが、メニューの動作やGSAPの設定、Lottieの設定などにも使用しています。"
  },
  {
    title: "TypeScript",
    src: "/image/portfolio/devicon/icon-typescript.png",
    text: "学習2022年7月〜開始。当サイトで利用しています。実務でもTypeScriptを使用するプロジェクトが多々あり、経験を積んでいる最中です。"
  },
  {
    title: "GSAP",
    src: "/image/portfolio/devicon/icon-gsap.png",
    text: "メニューの動作設定や出現アニメーションなどに使用しています。",
    experience: "2023.07~",
  },
  {
    title: "PHP",
    src: "/image/portfolio/devicon/icon-php.svg",
    text: "学習2020年12月頃〜開始。<br/>WordPressの実装に伴い経験。主にフロントでの実装経験があります。"
  },
  {
    title: "Astro",
    src: "/image/portfolio/devicon/icon-astro.png",
    text: "当サイトに採用。現職でも、Astroを採用したLPサイトやコーポレートサイトなどの実装を担当しています。"
  },
  {
    title: "React（Next.js）",
    src: "/image/portfolio/devicon/icon-next-react.png",
    text: "主にNext.jsで制作されたプロジェクトの運用保守を担当。アップデートが早いので、都度ドキュメントを確認しながら進めています。（※現職でNext.jsを使用したサイトを課題として作成：課題についての振り返り記事は<a class='text-orange-800 border-b border-orange-800 border-opacity-0 transition duration-200 hover:border-opacity-100' href='https://necco.inc/note/17932' target='_blank'>こちら</a>をご覧ください。）"
  },
  {
    title: "Graph QL",
    src: "/image/portfolio/devicon/icon-graphql.svg",
    text: "主にWordPressからデータ取得のために使用することがあります。<br/>使用する機会は少ないですが、ドキュメントなどを確認しながら実装しています。"
  }
];
---
<section>
<h2 class="text-xl/[2] font-medium">言語・フレームワーク</h2>
<ul class="mt-10 lg:mt-12 grid grid-cols-1 gap-x-20 gap-y-12 md:grid-cols-2">
  {deveItems.map(item => (
    <li>
      <DeveItem src={item.src} title={item.title} text={item.text} />
    </li>
  ))}
</ul>
</section>