---
import DeveItem from "@/components/portfolio/skill/DeveItem.astro";

const deveItems = [
  {
    title: "HTML/CSS",
    src: "/image/portfolio/devicon/deve-logo01.svg",
    text: "独学2020年9月頃〜開始。<br/>保守のしやすいコードを書くため、コンポーネント指向、また、適切なマークアップを心がけています。<br/>最近は、CSSフレームワーク「Tailwind CSS」を愛用。Scssでの実装も可能です。"
  },
  {
    title: "JavaScript",
    src: "/image/portfolio/devicon/deve-logo09.png",
    text: ""
  },
  {
    title: "TypeScript",
    src: "/image/portfolio/devicon/deve-logo10.png",
    text: ""
  },
  {
    title: "WordPress",
    src: "/image/portfolio/devicon/deve-logo02.svg",
    text: "独学2020年12月頃〜開始。<br/>テーマ制作はクラシックテーマの開発がメイン。<br/>現職では、WordPressサイト約13サイトの保守を担当、<br/>テーマの改善提案や実装などをしている。"
  },
  {
    title: "PHP",
    src: "/image/portfolio/devicon/deve-logo11.svg",
    text: "勉強開始2020年12月頃、実務経験2022.4〜（約2年）<br/>WordPressの実装に伴い経験。"
  },
  {
    title: "Astro",
    src: "/image/portfolio/devicon/deve-logo14.png",
    text: ""
  },
  {
    title: "Next.js",
    src: "/image/portfolio/devicon/deve-logo03.png",
    text: "主にNext.jsで制作されたプロジェクトの運用保守を担当。"
  },
  {
    title: "React",
    src: "/image/portfolio/devicon/deve-logo05.svg",
    text: "新規開発プロジェクトで開発経験は少なく、社内課題やサイトの保守で主に経験。「りあクト!」やUdemyなどで教材を買うなどして勉強。<br/>※課題内容:非公開プロジェクトのデザインデータを実装。課題についての振り返り記事は<a class='text-orange-800 border-b border-orange-800 border-opacity-0 transition duration-200 hover:border-opacity-100' href='https://necco.inc/note/17932' target='_blank'>こちら</a>をご覧ください。）"
  },
  {
    title: "Graph QL",
    src: "/image/portfolio/devicon/deve-logo04.svg",
    text: "WordPressからデータ取得のために使用。<br/>使用する機会は少ないですが、ドキュメントなどを確認しながら実装しています。"
  }
];
---
<section class="mt-10 lg:mt-24">
<h2 class="text-xl/[2] lg:text-2xl/[2]">使用言語・フレームワークについて</h2>
<ul class="mt-10 lg:mt-12 grid grid-cols-1 gap-x-20 gap-y-12 md:grid-cols-2">
  {deveItems.map(item => (
    <li>
      <DeveItem src={item.src} title={item.title} text={item.text} />
    </li>
  ))}
</ul>
</section>