---
import DeveItem from "@/components/portfolio/skill/DeveItem.astro";

const deveItems = [
  {
    title: "GitHub/GitLab",
    src: "/image/portfolio/devicon/icon-git.svg",
    text: "バージョン管理システムは主にGitHubを使用。GitHub Actionsを用いてWordPressサイトのCIを組む経験もあり。作業に対して細かくコミットするよう心がけています。",
    experience: "2022.01~", 
  },
  {
    title: "Figma",
    src: "/image/portfolio/devicon/icon-figma.svg",
    text: "デザインツールとして主に使用。<br>保守案件での要件整理やデザイン調整などをすることもあり。<br>仕様などもFigma上でデザイナーとやり取りすることも多数あり。",
    experience: "2021.01~",
  },
  {
    title: "Adobe XD",
    src: "/image/portfolio/devicon/icon-xd.png",
    text: "XDのデザインデータから実装することもあります。普段はFigmaメインで使用しており、使用する場合は画像の書き出しなど基本的な機能操作が中心です。",
    experience: "2020.12~",
  },
  {
    title: "STUDIO",
    src: "/image/portfolio/devicon/icon-studio.svg",
    text: "STUDIOでの実装経験があります。経験は浅いですが、実際にデザインするかのように実装ができるので便利なサービスと感じています。",
    experience: "2022.07~",
  },
  {
    title: "SVGator",
    src: "/image/portfolio/devicon/icon-svgator.png",
    text: "当サイトのアニメーションに使用。SVGアニメーション作成時に直感的にアニメーションを作成できて気に入っています。",
    experience: "2022.05~",
  },
  {
    title: "Vercel",
    src: "/image/portfolio/devicon/icon-vercel.svg",
    text: "AstroやNext.jsなどのホスティングに使用。当サイトもVercelでホスティングしています。一度使うとFTPには戻れない、手軽さが気に入っています。そしてホスティングが速い！",
  },
  {
    title: "microCMS",
    text: "当サイトで使用。ブログ機能やライブの参戦履歴を記録する際に使用しています。",
    experience: "2022.10~",
  },
];
---
<section>
  <h2 class="text-xl/[2] font-medium">使用ツール・サービス</h2>
  <ul class="mt-10 lg:mt-12 grid grid-cols-1 gap-x-20 gap-y-12 md:grid-cols-2">
    {deveItems.map(item => (
      <li>
        <DeveItem src={item.src} title={item.title} text={item.text} experience={item.experience} itemtype="tool" />
      </li>
    ))}
  </ul>
</section>