---
import PageHeading from "@/components/portfolio/common/PageHeading.astro";
import DotDown from "@/components/portfolio/profile/DotDown.astro";
import HeadingLine from "@/components/portfolio/profile/HeadingLine.astro";
import LikeItem from "@/components/portfolio/profile/LikeItem.astro";
import SectionHeading from "@/components/portfolio/profile/SectionHeading.astro";
import LayoutsPortfolio from "@/layouts/LayoutsPortfolio.astro";
---

<LayoutsPortfolio title="プロフィール | Nami Takagi Portfolio" description="たかぎのプロフィールページです。制作への想いや好きなことなどについてまとめています。" breadcrumbs={[{text:"プロフィール", src:"/portfolio/profile"}]}>
  <main>
    <section class="px-6 lg:px-[108px]">
        <div class="max-w-2lg mx-auto py-28 lg:py-36">
          <PageHeading title="プロフィール" titleEn="Profile"/>

        {/* プロフィール */}
        <section class="flex flex-col gap-10 mt-10 lg:flex-row lg:items-end lg:gap-16 lg:mt-16">
          <div class="flex-1 relative">
            <span class="absolute z-[1] top-4 left-4 w-full h-full block border-4 border-primary rounded-2xl"></span>
            <span class="absolute z-0 top-4 left-4 w-full h-full block bg-yellow-10 rounded-2xl"></span>
            <div class="relative w-full h-96 overflow-hidden rounded-2xl flex items-center">
              <img class="object-cover min-h-full min-w-full" src="/image/portfolio/profile/profile-image.jpg" alt="たかぎの写真">
            </div>
          </div>
          <div class="">
            <SectionHeading title="たかぎ なみ"/>
            <p class="text-sm/[2]">秋田県花火の街出身。季節の花火が綺麗な街です。<br>
            1995年5月生まれの28歳です。<br>
            農業高校を卒業して、8年間銀行に勤務し、主に渉外担当として従事。<br>
            現在はフロントエンドエンジニアとして働いています。<br>
            趣味はライブに行くこと。主にヴィジュアル系。<br>ヴィジュアル系好きは、14年目です。<br>
            好きな言葉は「自分らしく自分裏切れ」。
          </p>
          </div>
        </section>

        <DotDown/>

        {/* メッセージ */}
        <section class="lg:mx-auto lg:w-fit relative border-4 border-primary rounded-2xl bg-yellow-10 pt-6 px-6 pb-10 lg:p-10">
          <h2 class="text-xl/[1.6] font-medium">「誰かの役に立ちたい」</h2>
          <div class="my-[6px]">
            <HeadingLine/>
          </div>
          <div>
            <p class="text-sm/[2]">小さい頃から何かを作ったりするのが好きでした。「誰かの役に立つ」ことが大好きです。<br>
              地方銀行員として、沢山のお客さまの悩みに寄り添い培った、「ニーズに合わせた課題解決力」や、<br>
              少人数のチームでの制作経験も、今後の業務に活かすことができると思います。</p>
          </div>
          <img
            class="w-12 md:w-20 translate-y-[1px] absolute bottom-0 right-0"
            src="/image/common/tkg-icon.svg"
            alt=""
            width="30"
            height="30"
          />
        </section>

        <DotDown/>

        {/* おすすめのTKGアレンジ */}
        {/*
        <section class="">
          <h2 class="text-lg/[1.6] flex gap-1">
            <span>おすすめのTKGアレンジ</span><img
            class="w-4 translate-y-[1px]"
            src="/image/common/tkg-icon.svg"
            alt=""
            width="30"
            height="30"
          />
          <span>ジャバンのり × 醤油</span></h2>
          <HeadingLine/>
          <div>
            <p class="text-sm/[2]">シンプルなTKGに広がる、海苔と胡麻油の風味が最高です！</p>
          </div>
        </section> */}

        {/* 好きなこと */}
        <section class="mx-auto max-w-[808px]">
          <SectionHeading title="好きなこと"/>
          <ul class="pt-10 flex flex-col gap-14 lg:px-20">
            <li class="">
              <LikeItem 
              title="ライブ"
              text="主にソロで<a class='transition-colors duration-200 hover:text-orange-800' href='/portfolio/profile/live'>ライブ</a>参戦しています。<br>最近はユナイトというバンド中心に遠征。ヴィジュアル系が好きです。<br>他にもONE OK ROCK、感覚ピエロや地元のフェスなども参戦します。"
              src="/image/portfolio/profile/profile-like-01.jpg"
              textImage="/image/portfolio/profile/profile-text-01.svg"
              flexDirectionReverse={false}
              />
            </li>
            <li class="">
              <LikeItem 
              title="ゲーム" 
              text="FFシリーズが好きです。今の楽しみはFF7 REVERSE。最近、龍が如くも始めました。本編を進めるよりもサブストーリーなどを進めるのが好きです。もちろん本編も楽しみます！" 
              src="/image/portfolio/profile/profile-like-04.jpg" 
              textImage="/image/portfolio/profile/profile-text-04.svg"
              rotate="rotate-6"
              minImage={false}
              />
            </li>
            <li class="">
              <LikeItem 
              title="旅行" 
              text="プライベートでは、家族旅行・ソロ活どちらも楽しんでいます。お気に入りは「函館」。フェリーでゆったり旅がお気に入りです。" 
              src="/image/portfolio/profile/profile-like-03.jpg" 
              textImage="/image/portfolio/profile/profile-text-03.svg"
              flexDirectionReverse={false}
              />
            </li>
            <li class="">
              <LikeItem 
              title="お酒" 
              text="レモンサワーが好きです。お気に入りはシンレモンサワー🍋<br>時々ワインも嗜みます🍷" 
              src="/image/portfolio/profile/profile-like-02.jpg" 
              textImage="/image/portfolio/profile/profile-text-02.svg"
              rotate="rotate-6"
              minImage={false}
              />
            </li>
          </ul>
        </section>

        {/*
        <DotDown/>
        */}

      </div>
      </section>
  </main>
</LayoutsPortfolio>