---
import Layout from "@/layouts/portfolio.astro";
import LiveList from "@/components/portfolio/profile/liveList.astro";
import PageHeading from "@/components/portfolio/common/PageHeading.astro";
---

<Layout
  title="LIVE"
  description=""
  breadcrumbs={[
    { text: "ポートフォリオ", src: "/portfolio" },
    { text: "プロフィール", src: "/portfolio/profile" },
    { text: "参戦履歴・参戦予定", src: "/portfolio/profile/live" },
  ]}
>
  <main>
    <section class="px-6 lg:px-[108px]">
      <div class="max-w-2lg mx-auto pt-28 lg:pt-32">
        <PageHeading title="参戦履歴・予定" titleEn="Live" />
        <div class="mt-10 lg:my-18">
          <LiveList />
        </div>
      </div>
    </section>
  </main>
</Layout>
