---
import LayoutsTree from "@/layouts/LayoutsTree.astro";
import TreeKokke from "@/components/image/TreeKokke.astro";
const liveItems = [
  {
    href: "/portfolio",
    color: "#F7004C",
    text: "ポートフォリオ",
    active: true
  },
  {
    href: "/portfolio/profile/live",
    color: "#FFA200",
    text: "ライブ参戦履歴",
    active: true
  },
  {
    href: "/",
    color: "#FFE978",
    text: "準備中",
    active: false
  },
];
---
<LayoutsTree title="Welcome to Astro." description="">
  <main>
    <section class="px-6 lg:px-[108px]">
      <div class="max-w-[1000px] mx-auto py-28 lg:py-40">
        <h1 class="text-5xl uppercase font-en font-bold mx-auto w-fit">TKG Tree</h1>
        <ul class="grid grid-cols-1 gap-8 mt-10 md:grid-cols-3">
          {
            liveItems.map(item => (
              <li class="relative">
                <a
                  href={item.active ? item.href : undefined}
                  class={`group block ${!item.active && 'pointer-events-none'}`}
                  aria-disabled={`${!item.active}`}
                >
                  <div class={`relative z-[2] flex justify-center`}>
                    <div class="relative z-[1] md:flex md:justify-center translate-x-2 max-w-[230px] hidden">
                      <TreeKokke color={item.color} />
                    </div>
                    <div class={`md:absolute bottom-0 w-full translate-y-8 bg-orange-400 border-4 md:translate-y-8 lg:translate-y-10 lg:border-[6px] rounded-lg py-6 flex justify-center border-brown transition duration-300 group-hover:bg-brown ${!item.active && 'opacity-50'}`}>
                      <span class="text-brown text-base/[2] lg:text-xl/[2] font-medium group-hover:text-white">
                        {item.text}
                      </span>
                    </div>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </section>
  </main>
</LayoutsTree>