---
const links = [
  { href: '/portfolio/profile', text: '<span>T</span>kg?' },
  { href: '/portfolio/skill', text: 's<span>K</span>ill!</a>' },
  { href: '/portfolio/gallery', text: '<span>G</span>allery!' },
];
---
<ul class="font-bold text-brown flex gap-4">
  {links.map((link) => (
    <li
      class="group hover:bg-[#FFF3AA] hover:shadow-sm px-2 py-1 transition duration-500 rounded-full [&>a>span]:text-primary"
    >
      <a href={link.href} set:html={link.text}></a>
    </li>
  ))}
</ul>
