---
const links = [
  { href: '/portfolio/profile', text: '<span>T</span>kg?' },
  { href: '/portfolio/skill', text: 's<span>K</span>ill!</a>' },
  { href: '/portfolio/gallery', text: '<span>G</span>allery!' },
];
---
<ul class="font-bold text-brown flex gap-4">
  {links.map((link) => (
    <li
    >
      <a class="inline-block group font-en font-bold hover:bg-[#FFF3AA] hover:shadow-sm px-3 py-2 transition duration-500 rounded-full [&>span]:text-orange-800" href={link.href} set:html={link.text}></a>
    </li>
  ))}
</ul>
