---
interface Breadcrumb {
  src: string;
  text: string;
}

interface Props {
  breadcrumbs?: Breadcrumb[] | undefined;
}
const { breadcrumbs } = Astro.props;
import DotRight from "@/components/portfolio/profile/DotRight.astro";
---

<ul class="flex gap-3 text-white">
  <li class=""><a href="/" class="">Home</a></li>
  {
    breadcrumbs &&
      breadcrumbs.map((breadcrumb) => (
        <li class="flex gap-3">
          <DotRight/>
          <a href={breadcrumb.src}>{breadcrumb.text}</a>
        </li>
      ))
  }
</ul>
