---
interface Props {
  breadcrumbs?: string;
}

const { breadcrumbs } = Astro.props;
---

<ul class="flex gap-2">
  <li><a href="/" class="bg-red-200">HOME</a></li>
  <li>&gt; {breadcrumbs}</li>
</ul>
