---
interface Breadcrumb {
  src: string;
  text: string;
}

interface Props {
  breadcrumbs?: Breadcrumb[] | undefined;
}
const { breadcrumbs } = Astro.props;
import DotRight from "@/components/portfolio/profile/DotRight.astro";
---

<ul class="flex gap-3">
  <li class="text-sm/[2]"><a href="/portfolio" class="transition-color duration-300 text-brown hover:text-orange-800">Home</a></li>
  {
    breadcrumbs &&
      breadcrumbs.map((breadcrumb) => (
        <li class="flex gap-3 text-sm/[2] transition-color duration-300 text-brown hover:text-orange-800">
          <DotRight/>
          <a href={breadcrumb.src}>{breadcrumb.text}</a>
        </li>
      ))
  }
</ul>
