---
interface Props {
	text: string;
	src: string;
}

const { text, src } = Astro.props;
---

<li class="bg-[#FFFCEC] shadow-sm rounded-2xl px-6 pt-2 pb-6">
	<img class="mx-auto" src={src} width="130" height="130" alt="">
	<p>{text}</p>
</li>
