---
const { dog } = Astro.params;
import HeaderListItem from "@/components/header/HeaderLinkItem.astro";
---

<header class="px-6 lg:px-[108px] fixed z-[70] top-6 w-full">
  <div
    class="shadow-sm py-2 px-3 rounded-full bg-white lg:py-4 lg:px-6 w-full flex justify-between max-w-2lg mx-auto"
  >
    <a href="/"
      ><img
        class="hover:scale-125 transition-transform duration-300"
        src="/image/common/tkg-icon.svg"
        alt="ホームページ制作のTKG"
        width="30"
        height="30"
      /></a
    >
    <HeaderListItem />
  </div>
</header>
