---

---

<header
  class="mx-6 z-[70] shadow-sm py-2 px-4 rounded-full bg-white md:py-4 md:px-6 fixed left-0 right-0 top-6 flex justify-between"
>
  <a href="/"
    ><img
      class="hover:scale-125 transition-transform duration-300"
      src="public/image/common/tkg-icon.svg"
      alt="ホームページ制作のTKG"
      width="30"
      height="30"
    /></a
  >
  <ul class="font-zenMaru font-bold text-brown flex gap-4">
    <li><a href="/"><span class="text-primary">T</span>kg?</a></li>
    <li><a href="/">ma<span class="text-primary">K</span>e!</a></li>
    <li><a href="/"><span class="text-primary">G</span>allery!</a></li>
  </ul>
</header>
