---
import { getBlogs } from "@/lib/microcms.ts";
const response = await getBlogs({ fields: ["id", "title"] });
---

<!-- {
  response.contents.map((content: any) => (
    <div>
      <>
        <p>{content.title}</p>
        <p>{content.artist}</p>
      </>
    </div>
  ))
} -->

{
  response.contents.map((content: any) => (
    <li>
      <a href={`/blog/${content.id}`}>{content.title}</a>
    </li>
  ))
}