---
import CardList from "@/components/portfolio/common/CardList.astro";
import ContactBtn from "@/components/portfolio/ContactBtn.astro";
---

<section class="lg:max-w-[1000px] lg:mx-auto mt-32">
  <h2>こんな<br /><span>想い</span>ありませんか？</h2>
  <CardList />
  <div class="mt-8">
    <ContactBtn />
  </div>
</section>
