---
// interface Props {
//   text: string;
//   src: string;
// }

// const { src } = Astro.props;
---

<section class="lg:mx-6 relative overflow-hidden">
  <div class="mx-auto w-fit">
    <div class="relative w-fit">
      <p class="absolute mx-auto z-[1] left-0 right-0 w-fit">
        ホームページに<br />あなただけの<span>味つけ</span>を。
      </p>
      <img
        class="max-w-[140%] w-[450px] md:w-[800px] lg:w-[100%] lg:max-w-[1000px] relative left-1/2 -translate-x-1/2 lg:left-0 lg:translate-x-0"
        src="/image/portfolio/mv/mv-egg.png"
        alt=""
      />
    </div>
    <iframe
      src="/image/portfolio/mv/mv-kokke.svg"
      class="relative -mt-48 mx-auto md:-mt-64 lg:mt-0 lg:absolute lg:bottom-0 lg:left-[60%] xl:left-[55%] md:w-[300px] md:h-[350px] xl:w-[350px] xl:h-[400px]"
      width="200"
      height="250"></iframe>
  </div>
</section>
