---
// interface Props {
//   text: string;
//   src: string;
// }

// const { src } = Astro.props;
---

<section class="lg:mx-6 relative overflow-hidden">
  <div class="mx-auto w-fit">
    <div class="relative w-fit">
      <p class="absolute mx-auto text-[22px]/[1.5] z-[2] top-[32%] left-[5%] right-0 w-fit">
        ホームページに<br />あなただけの<span class="text-[32px] text-white font-bold inline-block ml-2 tracking-[0.4rem]">味つけ</span>を。
      </p>
      <svg
      class="absolute top-[40.5%] left-[48.5%] z-[1] w-[120px]"
        width="135"
        height="53"
        viewBox="0 0 135 53"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M52.0866 26.0433C52.0866 40.4266 40.4266 52.0866 26.0433 52.0866C11.66 52.0866 0 40.4266 0 26.0433C0 11.66 11.66 0 26.0433 0C40.4266 0 52.0866 11.66 52.0866 26.0433Z"
          fill="#FBB03B"></path>
        <path
          d="M93.5434 26.0433C93.5434 40.4266 81.8834 52.0866 67.5001 52.0866C53.1168 52.0866 41.4568 40.4266 41.4568 26.0433C41.4568 11.66 53.1168 0 67.5001 0C81.8834 0 93.5434 11.66 93.5434 26.0433Z"
          fill="#FBB03B"></path>
        <path
          d="M135 26.0433C135 40.4266 123.34 52.0866 108.957 52.0866C94.5733 52.0866 82.9133 40.4266 82.9133 26.0433C82.9133 11.66 94.5733 0 108.957 0C123.34 0 135 11.66 135 26.0433Z"
          fill="#FBB03B"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M92.4803 6.37793C89.6913 8.7765 87.8283 8.7765 85.0393 6.37793V45.7086C87.8283 43.3101 89.6913 43.3101 92.4803 45.7086V6.37793Z"
          fill="#FBB03B"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M85.0394 17.0078C80.4243 30.259 55.6388 30.259 51.0237 17.0078V35.0787C55.6388 21.8275 80.4243 21.8275 85.0394 35.0787V17.0078Z"
          fill="#FBB03B"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M49.9607 6.37793C47.5702 8.7765 45.9733 8.7765 43.5828 6.37793V45.7086C45.9733 43.3101 47.5702 43.3101 49.9607 45.7086V6.37793Z"
          fill="#FBB03B"></path>
      </svg>
      <img
        class="max-w-[140%] w-[450px] md:w-[608px] lg:w-[100%] lg:max-w-[1000px] relative left-1/2 -translate-x-1/2 lg:left-0 lg:translate-x-0"
        src="/image/portfolio/mv/mv-egg.png"
        alt=""
      />
    </div>
    <iframe
      src="/image/portfolio/mv/mv-kokke.svg"
      class="relative -mt-48 mx-auto md:-mt-64 lg:mt-0 lg:absolute lg:bottom-0 lg:left-[60%] xl:left-[55%] md:w-[300px] md:h-[350px] xl:w-[350px] xl:h-[400px]"
      width="200"
      height="250"></iframe>
  </div>
  <div class="flex relative w-fit mx-auto flex-col items-center justify-center mt-10">
    <span
      class="bg-primary absolute top-2 left-[20%] animate-scroll inline-block w-8 h-8 rounded-full"
    ></span>
    <svg
      width="58"
      height="80"
      viewBox="0 0 58 80"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M21.6492 78.6124C6.0107 74.9247 1.17368 56.586 0.408794 40.5369C-0.341343 24.7971 3.06894 6.65896 17.9767 1.55379C31.9958 -3.24709 43.543 10.7341 52.0917 22.838C58.5881 32.0359 59.9175 43.4132 54.5225 53.2975C47.1969 66.7188 36.5314 82.1218 21.6492 78.6124Z"
        fill="white"></path>
    </svg>
    <span class="absolute top-[10%] rotate-45 right-[-80%] text-xs"
      >すくろーる！</span
    >
  </div>
</section>

<style>
  .animate-scroll {
    animation: scroll 2s infinite;
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    70% {
      opacity: 1;
      transform: translateY(100%);
    }
    100% {
      opacity: 0;
      transform: translateY(100%);
    }
  }
</style>
