---
const mvKokkeData = [
    { iconSrc: "/image/portfolio/mv/mv-icon01.svg", kokkeSrc: "/image/portfolio/mv/mv-kokke01.svg" },
    { iconSrc: "/image/portfolio/mv/mv-icon02.svg", kokkeSrc: "/image/portfolio/mv/mv-kokke02.svg" },
    { iconSrc: "/image/portfolio/mv/mv-icon03.svg", kokkeSrc: "/image/portfolio/mv/mv-kokke03.svg" }
];
---
<div class="flex justify-center gap-8 max-w-[808px] mx-auto">
{
mvKokkeData.map((data) => (
<div class="flex flex-col items-center w-[70vw] min-w-[220px]">
  <div class="relative flex justify-center">
    <img class="absolute top-[45%] -translate-y-1/2 left-[48%] -translate-x-1/2 min-w-[60px] w-[8vw] max-w-[80px]" src={data.iconSrc} alt="">
    <img src="/image/portfolio/mv/mv-balloon.svg" alt="">
  </div>
  <img src={data.kokkeSrc} alt="">
</div>
))
}
</div>