---
import MvKokke from "./MvKokke.astro";
---

<div class="">
  <section class="px-6 overflow-clip lg:px-[108px]">
    <div class="max-w-2lg mx-auto ">
      <MvKokke />
      <h1 class="text-[12vw]/[1.1] font-en mt-8 lg:text-[100px]/[1.0] lg:mt-10">Nami Takagi<br>Portfolio.</h1>
    </div>
  </section>
  <span class="block w-full bg-[url('/image/portfolio/mv/mv-icon03.svg')] bg-contain bg-center mt-20 h-[80px] lg:mt-[120px]"></span>
</div>
