---
import Heading from "@/components/portfolio/common/Heading.astro";
import ButtonBorder from "../common/ButtonBorder.astro";
import KokkeImage from "@/components/svgator/FrontProfile.astro";
---

<section class="px-6 lg:px-[108px]">
  <div class="max-w-[808px] mx-auto pt-20 lg:pt-[120px]">
      <Heading titleJa="プロフィール" titleEn="Profile" />
       <div class="w-full max-w-[500px] mx-auto">
         <object data="/image/portfolio/svg-animation/front-profile.svg" type=""></object>
       </div>
        <p class="text-base/[1.6] mt-6 lg:mt-8 lg:text-lg/[2]">はじめまして。たかぎ なみと申します。<br>高校卒業後に地方銀行へ入社。窓口から渉外係まで担当。<br class="hidden lg:block">
          個人融資も少しかじりながら8年半勤め、退職。<br class="hidden lg:block"/>銀行は地域のお客さまと関係性を築きながら、充実した時間を過ごしました。<br>銀行退職後はウェブ制作会社へ入社し、フロントエンドエンジニアをしています。<br>現在は主にコーディングがメインですが、保守運用から新規案件まで携わっています。
        </p>
      <div class="mt-6 lg:mt-12">
      <ButtonBorder href="/portfolio/profile" text="たかぎについて知る"/>
    </div>
  </div>
</section>
