---
import Heading from "@/components/portfolio/common/Heading.astro";
---

<section class="pt-[120px]">
  <div class="px-6">
    <div class="w-fit">
      <Heading titleJa="プロフィール" titleEn="Profile" />
    </div>
  </div>
</section>
