---
import Heading from "@/components/portfolio/common/Heading.astro";
import ButtonBorder from "../common/ButtonBorder.astro";
---

<section class="px-6 lg:px-[108px]">
  <div class="max-w-[808px] mx-auto">
      <Heading titleJa="プロフィール" titleEn="Profile" />
        <p class="text-base/[1.6] mt-4 lg:mt-6 lg:text-lg/[2]">はじめまして。たかぎ なみと申します。<br>高校卒業後に地方銀行へ入社。窓口から渉外係まで担当。<br>
          個人融資も少しかじりながら8年半勤め、退職。<br>退職後はウェブ制作会社へ入社し、フロントエンドエンジニアをしています。
        </p>
      </div>
      <ButtonBorder href="/portfolio/profile" text="たかぎについて知る"/>
  </div>
</section>
