---
import Heading from "@/components/portfolio/common/Heading.astro";
import ButtonBorder from "../common/ButtonBorder.astro";
---

<section class="px-6 lg:px-[108px]">
  <div class="max-w-[808px] mx-auto pt-20 lg:pt-[120px]">
      <Heading titleJa="経験言語・ツール" titleEn="Skill" />
       <div class="w-full max-w-[500px] mx-auto">
         <!-- <object data="/image/portfolio/svg-animation/front-profile.svg" type=""></object> -->
       </div>
        <p class="text-base/[1.6] mt-6 lg:mt-8 lg:text-lg/[2]">実務経験などについてまとめています。</p>
      <div class="mt-6 lg:mt-12">
      <ButtonBorder href="/portfolio/skill" text="スキルを確認する"/>
    </div>
  </div>
</section>
