---
import Heading from "@/components/portfolio/common/Heading.astro";
import ButtonBorder from "../common/ButtonBorder.astro";
const skillData = [
  {example:"言語",image:"/image/portfolio/devicon/icon-code.svg",title:"HTML/CSS", text:"保守しやすいコードを意識してコーディングをしています。axe DevToolsなどでチェックも欠かさず行い、アクセシビリティにも注意を払い、実装しています。"},
  {example:"CMS",image:"/image/portfolio/devicon/icon-wordpress.png",title:"WordPress", text:"約13サイトほどの保守運用を担当。テーマ制作は、クラシックテーマ制作をメイン。サイトを利用するユーザーはもちろんのこと、管理者が使いやすい管理画面になるように気をつけています。"},
  {example:"ツール",image:"/image/portfolio/devicon/icon-figma.svg",title:"Figma", text:"デザインツールは主にFigmaを使用。3年ほど使用しています。プロトタイプを使用してアニメーションやインタラクションのシミュレーションすることもあります。"},
]
---

<section class="px-6 lg:px-[108px]">
  <div class="max-w-2lg mx-auto pt-20 lg:pt-[120px]">
      <Heading titleJa="経験言語・ツール" titleEn="Skill" />
        <p class="text-base/[1.6] mt-6 lg:mt-8 lg:text-lg/[2]">実務経験などについてまとめています。</p>
        <ul class="grid grid-cols-1 mt-10 ml-3 lg:mt-12 lg:grid-cols-3 gap-6 lg:gap-10">
          {skillData.map(item => (
            <li class="flex flex-col gap-1 relative lg:gap-3">
              <div class="absolute left-0 top-0 -translate-x-[20%] -translate-y-[20%]">
                <div class="relative bg-orange-800 block w-20 h-20 rounded-full">
                  <span class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 whitespace-nowrap font-medium text-base/[1.6] text-white">{item.example}例</span></div>
                </div>
              <div class="border-4 h-full border-brown rounded-2xl pt-16 px-8 pb-8 flex flex-col md:flex-row md:items-start lg:flex-col lg:items-center lg:p-8 gap-4">
                <img class="w-16 md:w-[100px]" src={item.image} width="100" height="100" alt="">
                <div class="flex flex-col lg:items-center gap-2">
                  <h3 class="text-lg/[1.2] font-medium lg:text-2xl/[1.2]">{item.title}</h3>
                  <p class="text-sm/[2] lg:text-base/[2]">{item.text}</p>
                </div>
              </div>
              <span class="block ml-auto w-fit">など</span>
            </li>
          ))}
        </ul>
      <div class="mt-6 lg:mt-12">
        <ButtonBorder href="/portfolio/skill" text="スキルを確認する"/>
      </div>
  </div>
</section>

