---
interface Props {
  href: string;
  text: string;
}

const { href, text } = Astro.props;
---
<div class="relative w-fit mx-auto group">
    <a class="relative z-[1] block mt-4 lg:mt-6" href={href}>
        <span class="inline-block border-[2px] border-brown rounded-full text-brown bg-yellow-200 text-base/[2] font-medium px-6 py-2 transition duration-200 ease-in-out hover:bg-brown hover:text-white lg:text-lg/[2]">{text}</span>
    </a>
    <img class="absolute top-[1px] right-0 w-14 translate-x-1 transition-transform duration-400 ease-in-out group-hover:translate-x-8" src="/image/portfolio/common/botton-kokke.svg" width="240" height="240" alt="">
</div>