---
// interface Props {
//   text: string;
//   src: string;
// }

// const { text, src } = Astro.props;
const CardDate = [
  {
    text: "あまりお金をかけずに、<br class='hidden lg:block'/>ホームページを作りたい！",
    src: "/image/portfolio/card/card-img01.png",
  },
  {
    text: "秋田（地元）の人に<br class='sm:hidden lg:block'/>作ってもらいたい！任せたい！",
    src: "/image/portfolio/card/card-img02.png",
  },
  {
    text: "TKGのように、<br class='hidden lg:block'/>ホームページもアレンジしたい！",
    src: "/image/portfolio/card/card-img03.png",
  },
];
---

<ul class="grid grid-cols-1 sm:grid-cols-3 gap-6 mx-6">
  {CardDate.map(card => (
    <li class="bg-[#FFFCEC] shadow-sm rounded-2xl px-6 pt-2 pb-6">
      <img class="mx-auto" src={card.src} width="130" height="130" alt="" />
      <p set:html={card.text}></p>
    </li>
  ))}
</ul>
