---
// interface Props {
//   Tag?: string;
//   titleJa: string;
//   titleEn?: string;
// }

const { Tag = "h2", titleJa = "", titleEn = "" } = Astro.props;
---

<div class="relative w-fit">
  <span
    class="text-xs pb-1 text-primary"
    >{titleEn}</span
  >
  <span class="block bg-primary w-full h-[2px] rounded-full"></span>
</div>
  <Tag class="text-3xl font-medium mt-1" set:html={titleJa}/>
