---
interface Props {
  title: string;
  titleEn?: string;
}

const { title = "", titleEn = "" } = Astro.props;
---
<div class="flex flex-col gap-2 w-fit">
  <div class="flex items-center gap-4">
    <span class="text-orange-800 font-en font-bold text-base/[1] opacity-80 lg:text-lg/[1]">{titleEn}</span>
    <span class="block w-full h-1 opacity-80 bg-orange-800"></span>
  </div>
  <h1>
    <span class=" font-ja font-medium text-2xl/[1] lg:text-3xl/[1]">{title}</span>
  </h1>
</div>