---
import LayoutsPortfolio from "@/layouts/LayoutsPortfolio.astro";
import GallreyItem from "@/components/portfolio/gallery/GalleryItem.astro";
import PageHeading from "@/components/portfolio/common/PageHeading.astro";
import ScrollEgg from "@/components/portfolio/common/ScrollEgg.astro";
---

<LayoutsPortfolio title="つくったもの | Nami Takagi Portfolio" description="実績ページです。過去に制作したものについてまとめました。" breadcrumbs={[{text:"つくったもの", src:"/portfolio/gallery"}]}>
  <main>
    <ScrollEgg/>
    <section class="px-6 lg:px-[108px]">
        <div class="max-w-2lg mx-auto py-28 lg:py-40">
          <PageHeading title="制作物・実績" titleEn="Gallery"/>
          <p class="text-sm/[2] mt-8 mb-16">制作したものをご紹介いたします。<br>なお、非公開の実績もございます。非公開実績については、別途資料をご用意しております。</p>
          <GallreyItem/>
      </div>
    </section>
  </main>
</LayoutsPortfolio>