---
import Layout from "@/layouts/portfolio.astro";
import MV from "@/components/portfolio/index/PortfolioMv.astro";
import Card from "@/components/portfolio/index/Card.astro";
import Create from "@/components/portfolio/index/Create.astro";
import Profile from "@/components/portfolio/index/Profile.astro";
import Gallery from "@/components/portfolio/index/Gallery.astro";
import Blog from "@/components/portfolio/index/Blog.astro";
import Contact from "@/components/portfolio/index/Contact.astro";
---

<Layout
  title="ホームページ制作のTKG"
  description=""
  breadcrumbs={[
    // { text: "テス", src: "テス" },
  ]}
>
  <main class="font-zenMaru pt-24 lg:pt-30">
    <MV />
    <!-- <Create /> -->
    <Profile />
    <Gallery />
    <!-- <Blog /> -->
  </main>
</Layout>

<style>
  .bg-gradient {
    background: linear-gradient(180deg, #fbb03b 0.01%, #ffe978 26.6%);
  }
</style>
