---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Welcome to Astro." description="">
  <main class="bg-gradient pt-32">
    <h1 class="text-2xl">Welcome to <span class="text-red-700">Astro</span></h1>
    <a href="/portfolio/live" class="bg-red-200">ライブページ</a>
    <a href="/portfolio/about" class="bg-red-200">プロフィールページ</a>
    <section class="h-[500px]">
      <ul class="grid grid-cols-1 md:grid-cols-3 gap-6 mx-6">
        <Card text="想いテキスト" src="/image/card/card-img01.png"/>
        <Card text="想いテキスト" src="/image/card/card-img01.png"/>
        <Card text="想いテキスト" src="/image/card/card-img01.png"/>
      </ul>
    </section>
    <section class="h-[500px]">
      <h2>プロフィール</h2>
    </section>
    <section class="h-[500px]">
      <h2>次の参戦予定</h2>
    </section>
  </main>
</Layout>

<style>
  .bg-gradient {
    background: linear-gradient(180deg, #FBB03B 0.01%, #FFE978 26.6%);
  }
</style>