---
import Layout from "@/layouts/portfolio.astro";
import PortfolioMv from "@/components/portfolio/index/PortfolioMv.astro";
import Card from "@/components/portfolio/index/Card.astro";
import Create from "@/components/portfolio/index/Create.astro";
import Profile from "@/components/portfolio/index/Profile.astro";
import Gallery from "@/components/portfolio/index/Gallery.astro";
import Blog from "@/components/portfolio/index/Blog.astro";
import Contact from "@/components/portfolio/index/Contact.astro";
---

<Layout
  title="Nami Takagi Portfolio"
  description="たかぎ なみのポートフォリオです。プロフィール、実績などを公開しています。"
  breadcrumbs={[]}
>
  <main class="font-zenMaru pt-24 pb-36 lg:pt-30 lg:pb-48">
    <PortfolioMv />
    <!-- <Create /> -->
    <Profile />
    <Gallery />
    <!-- <Blog /> -->
  </main>
</Layout>

<style>
  .bg-gradient {
    background: linear-gradient(180deg, #fbb03b 0.01%, #ffe978 26.6%);
  }
</style>
