---
import Layout from "@/layouts/Layout.astro";
import MV from "@/components/portfolio/index/MV.astro";
import Card from "@/components/portfolio/index/Card.astro";
import Create from "@/components/portfolio/index/Create.astro";
import Profile from "@/components/portfolio/index/Profile.astro";
import Gallery from "@/components/portfolio/index/Gallery.astro";
import Blog from "@/components/portfolio/index/Blog.astro";
import Contact from "@/components/portfolio/index/Contact.astro";
---

<Layout
  title="ホームページ制作のTKG"
  description=""
  breadcrumbs={[
    { text: "テス", src: "テス" },
    { text: "テス", src: "テス" },
  ]}
>
  <main class="bg-gradient pt-32 font-zenMaru">
    <MV />
    <Card />
    <Create />
    <Profile />
    <Gallery />
    <Blog />
    <Contact />
  </main>
</Layout>

<style>
  .bg-gradient {
    background: linear-gradient(180deg, #fbb03b 0.01%, #ffe978 26.6%);
  }
</style>
