---
import Layout from "@/layouts/Layout.astro";
import MV from "@/components/portfolio/index/MV.astro";
import Card from "@/components/portfolio/index/Card.astro";
---

<Layout title="ホームページ制作のTKG" description="">
  <main class="bg-gradient pt-32 font-zenMaru">
    <a href="/portfolio/live" class="bg-red-200">ライブページ</a>
    <a href="/portfolio/about" class="bg-red-200">プロフィールページ</a>
    <MV />
    <Card />
    <section>
      <h2>
        <span>Create</span>
      </h2>
    </section>
    <section class="h-[500px] mt-32">
      <h2>プロフィール</h2>
    </section>
  </main>
</Layout>

<style>
  .bg-gradient {
    background: linear-gradient(180deg, #fbb03b 0.01%, #ffe978 26.6%);
  }
</style>
