---
import PageHeading from "@/components/portfolio/common/PageHeading.astro";
import LayoutsPortfolio from "@/layouts/LayoutsPortfolio.astro";
---

<LayoutsPortfolio title="今までの経験 | Nami Takagi Portfolio" description="" breadcrumbs={[{text:"Skill", src:"/portfolio/skill"}]}>
  <main class="px-6 lg:px-[108px]">
    <div class="my-32">
      <section class="max-w-2lg mx-auto">
        <PageHeading title="今までの経験・スキル" titleEn="skill"/>
        <p class="text-sm/[2] mt-8 mb-16">普段使用している言語やツールについてまとめています。</p>
      </section>
      <section>
        <h2>使用言語・フレームワーク 等</h2>
        <ul>
          <li>・HTML/CSS（2年）</li>
          <li>・JavaScript（1年半）</li>
          <li>・TypeScript（1年半）</li>
          <li>・React（半年）</li>
          <li>・Next.js（半年）</li>
          <li>・Astro（半年）</li>
          <li>・WordPress（2年）</li>
        </ul>
      </section>
      <section>
        <h2>使用ツール</h2>
        <ul>
          <li>・VScode</li>
          <li>・Figma</li>
          <li>・Adobe XD</li>
          <li>・Notion</li>
          <li>・Photoshop</li>
          <li>・STUDIO</li>
          <li>・GitHub</li>
          <li>・GitLab</li>
          <li>・SVGator</li>
          <li>・Vercel</li>
        </ul>
      </section>
      <section>
        <h2>興味のある言語・ツールなど</h2>
        <ul>
          <li>Unity</li>
        </ul>
      </section>
    </div>
  </main>
</LayoutsPortfolio>