---
import PageHeading from "@/components/portfolio/common/PageHeading.astro";
import DeveItems from "@/components/portfolio/skill/DeveItems.astro";
import ToolItems from "@/components/portfolio/skill/ToolItems.astro";
import LayoutsPortfolio from "@/layouts/LayoutsPortfolio.astro";

---

<LayoutsPortfolio title="今までの経験 | Nami Takagi Portfolio" description="" breadcrumbs={[{text:"Skill", src:"/portfolio/skill"}]}>
  <main class="px-6 lg:px-[108px]">
    <div class="my-32 max-w-2lg mx-auto">
      <section class="max-w-2lg mx-auto">
        <PageHeading title="今までの経験・スキル" titleEn="skill"/>
        <p class="text-sm/[2] mt-8 mb-16">普段使用している言語やツールについてまとめています。</p>
      </section>
      <section class="max-w-[1000px] mx-auto">
        <DeveItems/>
        <ToolItems/>
      </section>
      <section>
        <h2>興味のある言語・ツールなど</h2>
        <ul>
          <li>Unity</li>
        </ul>
      </section>
    </div>
  </main>
</LayoutsPortfolio>